.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 1246px;
	margin: 0 auto;
	padding: 80px 0;

	@media screen and (max-width: 1023px) {
		padding: 64px 24px;
	}
}

.title {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 700;
	font-size: 35px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 60px 0;
	color: #000000;

	strong {
		color: #FE0000;
	}


	@media screen and (max-width: 1023px) {
		font-size: 32px;
		line-height: 40px;
	}
}

.gridBrands {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 60px 0;

	@media screen and (max-width: 1023px) {
		gap: 25px 0;
	}

	.gridItem {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 75%;

		@media screen and (max-width: 1023px) {
			font-size: 32px;
			line-height: 40px;

			&:nth-child(4) {
				width: 115%;
			}
		}
	}
}